!!! 5
html
	head
		title Asteroid Mania
		link(type='text/css', rel='stylesheet', href='/css/main.css')
		link(type='text/css', rel='stylesheet', href='/css/game.css')
	body
		div#content
			header
				h1 Asteroid Mania
			nav
				a(href="/") Accueil
				a(href="/game").current_menu Jeu
				a(href="/technical") Explications techniques
			div#game_content
			div#logger
			script(type="text/javascript", src="/js/lib/require.js", data-main="/js/main")