!!! 5
html
	head
		title Node.js Multiplayer Game
		link(type='text/css', rel='stylesheet', href='/css/main.css')
		link(type='text/css', rel='stylesheet', href='/css/game.css')
	body
		h1 Node.js Multiplayer Game
		canvas#main_canvas(width="800", height="600")
		//- script(type="text/javascript", src="/js/lib/require.js", data-main="/js/main")
		script(type="text/javascript", src="/js/lib/Keyboard.js")
		script(type="text/javascript", src="/js/lib/jquery.js")
		script(type="text/javascript", src="/js/lib/onEachFrame.js")
		script(type="text/javascript", src="/js/capabilities/moveCapabilities.js")
		script(type="text/javascript", src="/js/classes/Ship.js")
		script(type="text/javascript", src="/js/main.js")