!!! 5
html
	head
		title Asteroid Mania
		link(type='text/css', rel='stylesheet', href='/css/main.css')
		link(type='text/css', rel='stylesheet', href='/css/game.css')
	body
		div#content
			header
				h1 Asteroid Mania
			nav
				a(href="/") Accueil
				a(href="/game").current_menu Jeu
				a(href="/technical") Explications techniques
			canvas#main_canvas(width="800", height="540")
			div#logger
			//- script(type="text/javascript", src="/js/lib/require.js", data-main="/js/main")
			script(type="text/javascript", src="/socket.io/socket.io.js")
			script(type="text/javascript", src="/js/connector.js")
			script(type="text/javascript", src="/js/lib/Keyboard.js")
			script(type="text/javascript", src="/js/lib/jquery.js")
			script(type="text/javascript", src="/js/lib/onEachFrame.js")
			script(type="text/javascript", src="/js/capabilities/render.js")
			script(type="text/javascript", src="/js/capabilities/move.js")
			script(type="text/javascript", src="/js/main.js")
			script(type="text/javascript", src="/js/classes/Asteroid.js")
			script(type="text/javascript", src="/js/classes/Ship.js")