!!! 5
html
	head
		title Node.js Multiplayer Game
		link(type='text/css', rel='stylesheet', href='/css/main.css')
	body
		div#content
			h1 Node.js Multiplayer Game
			p Page d'accueil
			a(href="/game") Play the game !