!!! 5
html
	head
		title Asteroid Mania
		link(type='text/css', rel='stylesheet', href='/css/main.css')
	body
		div#content
			header
				h1 Asteroid Mania
			nav
				a(href="/").current_menu Accueil
				a(href="/game") Jeu
				a(href="/technical") Explications techniques
			div.text
				p
					em Asteroid Mania
					|  est un jeu multijoueur dans lequel vous pilotez un vaisseau spatial perdu avec son escadron au milieu d'un champ d'astéroïdes.
					br
					| Les parties s'effectuent à 6 joueurs maximum. Chaque vaisseau possède un blindage de couleur, plus ou moins vulnérable aux différents types d'astéroïdes&nbsp;:
					ul
						li Les astéroïdes de la même couleur que votre blindage ne vous causent aucun dégât
						li Les astéroïdes de la couleur qui vous est supérieure détruisent votre vaisseau au moindre contact
						li Vous pouvez détruire les astéroïdes de la couleur qui vous est inférieure, mais ils peuvent aussi vous causer des dégâts
				p Les couleurs sont réparties de cette manière :
				p
					img(src="/images/colors_explanation.png", alt="Rouge => Jaune => Vert => Rouge")
				p
					strong Votre mission
					| &nbsp;: survivre jusqu'à ce que votre escadron sorte de ce champ d'astéroïdes (2 minutes), en évitant et en détruisant les rochers dangereux pour vous et vos coéquipiers !